@using BugIssuer.Domain;
@model IEnumerable<Issue>
@{
    ViewData["Title"] = "Issues";
    var currentSort = Convert.ToString(ViewData["CurrentSort"]);
    var currentFilter = Convert.ToString(ViewData["CurrentFilter"]);
    var btnAll = string.IsNullOrEmpty(currentFilter) || currentFilter == "All" ? "btn-primary" : "btn-light";
    var btnOpen = currentFilter == "Open" ? "btn-primary" : "btn-light";
    var btnOngoing = currentFilter == "Ongoing" ? "btn-primary" : "btn-light";
    var btnClosed = currentFilter == "Closed" ? "btn-primary" : "btn-light";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Issues</h2>
        <div>
            <a href="/Issues/NewIssue" class="btn btn-success">New Issue</a>
        </div>
    </div>
    @Html.Partial("_IssuesPartial", Model)
</div>


<script>
    $('#partialZone').load("/Home/IssuesPartial")
</script>