@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the BugIssuer</h1>
    <p>Use the navigation menu to access different sections of the system.</p>
</div>